.contenedor{
    display: flex;
}

.seccion1{
width: 10vw;
height: 100vh;
}

.seccion2{
    position: relative;
width: 1000px;
height: 1000px;
}

.seccion3{
width: 40vw;
height: 100vh;
}
.logoscontainer{
    display: flex;
    position:absolute;
    bottom:45px;
    left:75px;
    width: 180px;
    justify-content: space-between;
}
.fechacontainer{
    color: rgb(189, 189, 189);
    position:absolute;
    right: 75px;
    bottom: 45px;
}
.box{
    position: absolute;
    background-color:thistle;
    width: 800px;
    height: 90px;
    top: 115px;
    left: 140px;
}
.textoCentro{
    position: absolute;
    font-size: 70pt;
    left: 95px;
    color: white;
}
.banner{
    position: absolute;
    left: 50px;
    top: 50px;
}
.columnitas{
    display: flex;
    justify-content: space-between;
}
.imgArrow{
    object-fit: scale-down;
    height: 20px;
    width: 20px;
}
.imgPrincipal{
    object-fit: scale-down;
    height: 1000px;
    width: 1000px;
}